#---------------------------------------------------------------------------------------------------------------------------
# Core Dependencies (Data Ingestion)
#---------------------------------------------------------------------------------------------------------------------------

python-dotenv==1.0.1
requests==2.31.0
fastapi
aiohttp
aiofiles>=24.1.0
fastparquet>=2023.0.0
pyspark
flake8 
black
autopep8 
pandas
pyarrow>=12.0.0

#----------------------------------------------------------------------------------------------------------------------------
# Database Connection
#----------------------------------------------------------------------------------------------------------------------------

SQLAlchemy==2.0.34
psycopg2-binary==2.9.9

#----------------------------------------------------------------------------------------------------------------------------
# Utility and Logging
#----------------------------------------------------------------------------------------------------------------------------
loguru==0.7.2
tqdm==4.66.5

#-----------------------------------------------------------------------------------------------------------------------------
#Visualization / Local Testing
#-----------------------------------------------------------------------------------------------------------------------------
streamlit==1.41.1 

#-----------------------------------------------------------------------------------------------------------------------------
# Testing
#-----------------------------------------------------------------------------------------------------------------------------
pytest==8.3.3

#-----------------------------------------------------------------------------------------------------------------------------
# Data Transformation (DBT)
#-----------------------------------------------------------------------------------------------------------------------------
dbt-core==1.10.13
dbt-postgres==1.9.1
databricks-sql-connector>=2.0.0,<3.0.0
dbt-databricks==1.9.1